body {
    background: white url("images/background.jpg") no-repeat;
    font-size: 30px;
    color: white;
}
h1{
    color: white;
}
.all-text{
    color: #bbbbff;
}
#vote-button{
    color: #7a00aa;
}
#voting{
    color: white;
    background: #00aa00;
    font-size: 30px;
}